

<footer class="bg-light text-center text-lg-start my-foot">

           

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div class="socials">
            <h3> My Social Links:
            <ul class="my-socials">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>
        &copy; 2024 Nombulelo Prudence Nkala
    </div>
</footer>
