{% extends "navigationBar.html" %}

{% block title %} Home-My profile{% endblock%}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <h1>Welcome to My Personal Website!</h1>
            <p class="lead mt-4">Hello! I'm Nombulelo, a Full-stack developer. This is my personal website where you can learn more about my work, interests, and projects. Explore my site to discover my journey, achievements, and what drives me.</p>
            <p class="lead mt-4">Feel free to get in touch if you'd like to collaborate, ask a question, or just say hi!</p>
            <a href="{{ url_for('about') }}" class="btn btn-primary mt-3">Learn More About Me</a>
        </div>
    </div>
</div>




{% endblock %}
<!--contact form-->


