body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



header h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 120px;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about{
    padding-bottom: 50px;
}
.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the top */
    max-width: 800px; /* Set max width for the container */
    margin-bottom: auto; /* Center the container */
    padding-top: 20px;
}
.about-text h2{
    font-family: 'Rocher';
    base-palette: 9;
    text-decoration: underline solid;
    text-align: center;
    color: 	chocolate;
    padding-top: 5px;

}

.profile-picture {
    flex: 1;
    max-width: 250px; /* Adjust max width of the picture */
    border: 2px solid #ccc; /* Add border */
    border-radius: 5px; /* Rounded corners */
    margin-right: 20px; /* Space between picture and text */
}

.profile-picture img {
    width: 100%;
    height: auto;
    display: block; /* Ensure image behaves as expected */
    border-radius: 3px; /* Rounded corners for image */
}

.about-text {
    flex: 2;
    font-size: 16px; /* Adjust font size if needed */
    text-decoration: none;
}

#fun-facts{
    margin-top: 50px;
}

.fact-container{
    margin-top: 50px;
    position: relative;
}


.text {
	font-family: "Yanone Kaffeesatz";
	font-size: 100px;
	display: flex;
	position: absolute;
	bottom: 20vh;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
    padding-bottom: 45px;

	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		.letter {
			transition: ease-out 1s;
			transform: translateY(40%);
		}
		.shadow {
			transform: scale(1, -1);
			color: #999;
			transition: ease-in 5s, ease-out 5s;
		}
		&:hover {
			.letter {
				transform: translateY(-200%);
			}
			.shadow {
				opacity: 0;
				transform: translateY(200%);
			}
		}
	}
}

.card {
    border-radius: 10px; /* Add rounded corners to cards */
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

/*responsiveness*/

@media (max-width: 768px) {
    .about{
        padding-bottom: 40px;
    }
    .about-container {
        flex-direction: column; /* Stack items on smaller screens */
        align-items: center; /* Center align everything */
    }

    .profile-picture {
        max-width: 100%; /* Full width on smaller screens */
        margin-right: 0; /* No margin on smaller screens */
        margin-bottom: 20px; /* Space between picture and text */
    }
}