body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}


.mt-5{
    display: flex;
    background-image: url('../image1_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 10px;
    background-position: top;
    opacity: 75%;
}

.container1{
    flex:1;
}

.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h2, p{
    align-items: center;
}

.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
