body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-size: cover;
    background-position: center;
    color: #fff2f2;
    text-align: center;
    padding: 100px 0;

}

header h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 120px;
}

nav{
   
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 50px 0;
    background-color: #f9f9f9;
}

section h2 {
    text-align: center;
}
.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 200px; /* Adjust the width as needed */
    border-radius: 50%; /* Makes the image round */
    border: 5px solid #fff; /* Adds a white border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.about-text {
    text-align: justify;
}

.about-text h2 {
    margin-bottom: 20px;
}
